.seccion-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.contenedor_formulario{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 850px;
    height: 540px;
    padding: 30px;
    border-radius: 3px;
}

.cabecera_formulario{
    display: flex;
    width: 100%;
    height: 5%;
}

.cabecera_formulario>span{
    width: 500px;
    font-weight: bold;
    font-size: 23px;
    color: #6ea8fe;
}

.contenedor_boton{
    display: flex;
    align-items: initial;
    justify-content: flex-end;
    width: calc(100% - 500px);
    text-align: right;
}

#boton-cerrar{
    align-items: center;
    width: 25px;
    height: 25px;
    border: none;
    background-color: transparent;
    margin: -15px -15px 0 0;
}

#boton-cerrar>i{
    font-size: 25px;
    color: #6c757d;
}

#boton-cerrar>i:hover{
    cursor: pointer;
    color: #000;
}

.formulario_datos{
    display: grid;
    width: 100%;
    height: 100%;
    margin-top: 15px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 200px auto;
    border-top: 1px solid;
    padding-top: 3%;
}

.seccion_input,.input_izquierda{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.input_izquierda{
    margin-left: 10px;
}

.seccion_input>label, .input_izquierda>label, .seccion-formulario-archivo>label{
    color: #000;
    font-weight: 600;
}

.seccion_input>input, .input_izquierda>select{
    height: 50px;
    padding-left: 8px;
    font-size: 16px;
    background-color: #f8f8f8;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    color: #000;
    margin-top: 3px;
}

.seccion_input>input::placeholder{
    font-size: 15px;
}

.seccion_input>input:focus{
    border: 2px solid #81e8ff;
}

.seccion_input>input{
    width: 90%;
}

.input_izquierda>input{
    width: 100%;
}

.seccion-formulario-archivo{
    grid-column: 1/3;
}

.formulario-archivo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 180px;
    margin-top: 5px;
    border: 2px dashed rgb(202, 202, 202);
    border-radius: 5px;
}

.formulario-archivo:hover{
    cursor: pointer;
    border-color:rgb(190, 190, 190);
}

.formulario-archivo:hover i, .formulario-archivo:hover span
{
    color:rgb(190, 190, 190);
}

.formulario-archivo>i, .formulario-archivo>span{
    color: rgb(202, 202, 202);
}

.formulario-archivo>i{
    font-size: 60px;
}

.formulario-archivo>span{
    font-size: 17px;
    margin-top: 15px;
}

.seccion-carga, .seccion-cargado{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #dfe9ff;
    padding: 15px;
    margin-top: 15px;
    border-radius: 2px;
    height: 70px;
}

.seccion-carga>i , .seccion-cargado>i{
    font-size: 25px;
    color: #7c94e4;
}

.detalles-carga, .detalles-archivo-cargado{
    width: 100%;
    margin-left: 20px;
}

.datos-archivo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 9px;
}

.barra-progreso{
    width: 100%;
    height: 9px;
    border-radius: 20px;
    background-color: #fff;
}

.progreso{
    width: 98%;
    height: 100%;
    border-radius: inherit;
    background-color: #7c94e4;
}

.detalles-archivo-cargado{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detalles-archivo-cargado>i{
    font-size: 25px;
    color: #7c94e4;
}

.datos-archivo-cargado{
    display: flex;
    flex-direction: column;
}

.peso-archivo{
    font-size: 12px;
}

.contenedor-carga{
    margin-top: 15px;
    border-radius: 2px;
    width: 100%;
    height: 70px;
}

.mensaje-archivo-existente{
    display: block;
    font-size: 12px;
    color: #7c94e4;
    /* margin-bottom: 50px; */
}

.seccion_guardar{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/3;
    width: 100%;
    height: 100%;
}

.seccion_guardar>button{
    width: 190px;
    height: 45px;
    border: none;
    background-color: #009685;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    margin-top: 40px;
}

.seccion_guardar>button:hover{
    cursor: pointer;
    background-color: #00a390;
}

.seccion_guardar>button>i{
    margin-left: 10px;
}